<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand mr-auto d-none d-sm-block" href="{{site.url}}/{{ site.baseurl }}" aria-label="AutomationBrokerLarge"><img src="{{ site.baseurl }}/assets/img/logo_horiz_black-text_white-bg.png" alt="AUTOMATION BROKER LOGO"></a>
    <a class="navbar-brand mr-auto d-sm-none" href="{{site.url}}/{{ site.baseurl }}" aria-label="AutomationBrokerSmall"><img src="{{ site.baseurl }}/assets/img/logomark_white-bg.png" height="96" alt="AUTOMATION BROKER LOGO small"></a>
    <!--<a class="navbar-brand mr-auto d-sm-none" href="{{site.url}}/{{ site.baseurl }}" aria-label="AutomationBrokerLogoOnly"><img src="{{ site.baseurl }}/assets/img/logomark_white-bg.png"></a>-->

    <div class="collapse navbar-collapse justify-content-end" id="brokerNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/news.html">NEWS</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/openshift/ansible-service-broker">CODE</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss"></i></a>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#brokerNavbar" aria-controls="brokerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

</nav>