---
---

.jumbotron {

}

.jumbotron-text-container {
  text-align: center;
}

.btn-getting-started {
  margin-left: 3em;
}

.defn-img-container {
  text-align: center;
}

.home-bullet {
  margin-top: 5em;
}

.bullet-img {
  margin-bottom: 2em;
}