---
---

.jumbotron {

}

.jumbotron-text-container {
  text-align: center;
}


.home-call-to-action {
  &:hover{
    color: #0093d9;
    background-color: white;
    border-color: #0093d9;
  }
  margin-left: 3em;
  background-color: #0093d9;
  color: white
}

.defn-img-container {
  text-align: right;
}

.home-bullet {
  margin-top: 5em;
}

.bullet-img {
  margin-bottom: 2em;
}