---
---

.jumbotron {
  .jumbo-description {
    margin-top: 2rem;
    strong {
      font-size: 1.2rem;
    }
  }
}

.jumbotron-title {
  text-align: center;
}

.btn-getting-started {
  margin-left: 3em;
}

.defn-img-container {
  text-align: center;
}

.divider {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.broker-feature-title {
  text-align: center;
  margin-bottom: 2rem;
}

.broker-feature {
  margin-bottom: 2rem;
  h3 {
    text-align: center;
  }
}

.broker-feature.broker-feature-last {
  text-align: center;
}

section.broker-info {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}