---
---

@import "variables";

.jumbotron {
  background-color: $broker-primary-color;
  background-image: url("/assets/img/header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top center;
  color: white;
  border-radius: 0;
  padding-bottom: 36px;
  margin-bottom: 3rem;
}

.jumbotron-title {
  padding-top: 24px;
}

.btn-getting-started {
  margin-top: 20px;
}

.broker-info,
.broker-features {
  margin-bottom: 3rem;
}

.broker-info-title {
  margin-bottom: 2rem;
}

.broker-info-img-container {
  text-align: center;
}

.broker-info-img-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.broker-feature-row {
  padding-bottom: 2rem;
}

.broker-feature {
  height: 100%;
  background-color: rgba(246, 246, 230, 0.85);
  padding: 1rem;

  .broker-feature-title {
    margin-bottom: 1rem;
  }

  .broker-feature-icon {
    margin-right: 0.8rem;
    color: $broker-primary-color;
  }
}

